<span><%= image_tag @user.avatar.url(:thumb), class:'user-profile-image' %></span>

<table>
      <tr><td>Nome de Usuário:<%= @user.username%></td></tr>
      <tr><td>E-mail:<%= @user.email%></td></tr>
</table>

<btn><%= link_to "Sair", logout_path %></btn>